@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

.montserrat {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
}



body {
  background-color: rgba(26, 40, 56, 1);
  color: rgb(255, 255, 255);
  font-family: "Lato", sans-serif;
  font-weight: 90;
  font-style: normal;
  font-size: 16px;
}

.main {
  height: 800vh;
}

.pinkgoose-title {
  display: flex;
  align-items: center;
  gap: 8px;
  font-family: 'Montserrat', sans-serif;
  font-size: 40px;
  font-weight: 700;
  margin-left: 60px;
  margin-top: 30px;
  margin-bottom: 10px;
}

.pinkgoose-title .pink {
  color: #FFFFFF;
}

.pinkgoose-title .goose {
  color: FFB4D3;
}

h1 {
  font-family: "Lato", sans-serif;
  font-weight: 100;
  font-style: normal;
  margin-top: 20px;
  font-size: 60px;
}

h2 {
  font-family: "Lato", sans-serif;
  font-weight: 100;
  font-style: normal;
  margin-top: 20px;
  font-size: 40px;

}

a {
  color: inherit;
  text-decoration: none;
}


.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 40px;
  margin: 0;
}

.navbar .left {
  display: flex;
  align-items: center;
  gap: 8px;
  font-family: 'Montserrat', sans-serif;
  font-size: 32px;
  font-weight: 700;
}

.navbar .center {
  flex: 1;
  display: flex;
  justify-content: center;
}

.navbar .center ul {
  display: flex;
  gap: 30px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar .center li {
  margin: 0;
  padding: 0;
}

.navbar .right {
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
  background-color: #243241;
  padding: 12px 22px;
  border-radius: 8px;
}

.goose {
  color: pink;

}

.navbar .center {
  display: flex;
  gap: 40px;
  justify-content: center;
  flex: 1;
  font-size: 22px;
  margin-right: 50px;
}

.navbar .right {
  background-color: #243241;
  font-size: 18px;
  font-weight: bold;
  padding: 22px;
  height: 15px;
  width: 5%92px;
  border-radius: 8px;
  margin-right: 135px;

}

.header-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 40px;
  margin-top: 30px;
  margin-bottom: 10px;
}

.above-container {
  display: flex;
  position: fixed;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: flex-start;
  align-content: stretch;
}

.home-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: flex-start;
  align-content: stretch;
}

/*einde navigatie balk**/


.textbalk-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: stretch;
  align-content: center;
}


.textbalk {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 60px;
  gap: 16px;
}

.G-S-Button {
  background-color: #CEAAFF;
  color: #10151A;

  padding: 12px 24px;
  border: none;
  border-radius: 4px;

  cursor: pointer;

  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

.arrows-down-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.arrows-down {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  align-content: stretch;
  margin-top: 150px;
}

.ready-project-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 40px;
  margin-top: 150px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1000px;
}

.m-Quote {
  font-size: 39px;
  text-align: center;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: #fff;
}

.stars-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  flex-shrink: 0;
}

.stars {
  width: 80px;
  height: auto;
}

.buttons-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
  gap: 30px;
}

.buttons-top-row {
  display: flex;
  justify-content: center;
  gap: 20px;

}

.buttons-bottom-row {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 20px;
}

.dao-investment {
  background: #214361;
  color: #FFB4D3;
  border-radius: 90px;
  padding: 17px 20px;
  border: 30px;
}

.dao-startup {
  background: #182632;
  color: #FFC24C;
  border-radius: 90px;
  padding: 17px 20px;
  border: 30px;
}

.dao-service {
  background: #182632;
  color: #D387F7;
  border-radius: 90px;
  padding: 17px 20px;
  border: 30px;
}

.dao-community {
  background: #182632;
  color: #77E6FF;
  border-radius: 90px;
  padding: 17px 20px;
  border: 30px;
}

.dao-impact {
  background: #182632;
  color: #23C9DE;
  border-radius: 90px;
  padding: 17px 20px;
  border: 30px;
}

.dao-defi {
  background: #182632;
  color: #FF9E9E;
  border-radius: 90px;
  padding: 17px 20px;
  border: 30px;
}

.dao-more {
  background: #182632;
  color: #707F8D;
  border-radius: 90px;
  padding: 17px 20px;
  border: 30px;
}

.gamebox-container {
  display: flex;
  justify-content: baseline;
  align-items: baseline;
  position: relative;
  margin-top: 50px;
  margin-left: 190px;
  max-width: 75%;
}

.Gamebox-Photo {
  width: 100%;
  height: auto;
  border-radius: 16px;
  margin: 0;
}

.Superdoa-Projects-Button {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffb4d3;
  width: 250px;
  border-radius: 70px;
  height: 20px;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-family: 'Montserrat', sans-serif;
}

.designed-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 150px;
  margin-bottom: 100px;
  padding: 0 20px;
  color: #E5E5E5;
}

.stars-designed {
  width: 76px;
  height: auto;
  margin-left: 700px;
  margin-bottom: -40px;
}

.designed-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  max-width: 800px;
}

.designed-list h2 {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 39px;
  color: #37424D;
  text-align: center;
  margin: 0;
}

.designed-list h2.highlight {
  color: #FFB4D3;
}

.two-stars-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
  align-content: stretch;
}

.stars-2-left {
  margin-right: 290px;
}

.stars-2-right {
  margin-left: 90px;
}

.compatibility-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  flex-wrap: wrap;
}

.ethereum,
.polygon,
.gnosis,
.snapshot,
.ens,
.opensea {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.ethereum .icon-box,
.polygon .icon-box,
.gnosis .icon-box,
.snapshot .icon-box,
.ens .icon-box,
.opensea .icon-box {
  padding: 25px;
  background-color: #131F2B;
  border-radius: 20px;
  border: 2px solid #2A3744;
}

.ethereum img,
.polygon img,
.gnosis img,
.snapshot img,
.ens img,
.opensea img {
  border-radius: 22px;
  width: 40px;
  height: 15%;
}

.our-compatibility-title {
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: #ffffff;
  text-align: center;
}

.our-team-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 25px;
}

.our-team-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 23px;
}

.our-team-title {
  border-radius: 22px;
  width: 17%;
  height: 18%;
}

.team-container {
  max-width: 1140px;
  margin: 80px;
  text-align: center;
}

.team-text-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.team-text {
  font-family: 'Montserrat';
  color: #E5E5E5;
  margin-bottom: 60px;
  margin-top: 22%;
  font-size: 47px;
}

.team-png {
  width: 96px;
  height: 106px;
  margin: 10px;
  border-radius: 16%;
  object-fit: cover;
}

.below-team-text {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
  color: white;
}

.below-team-text-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
  color: white;
}

.below-team-text-3 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
  color: white;
}

.below-team-text-4 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
  color: white;
}

.digest-container {
  box-sizing: border-box;
  width: 75%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 150px;
  background: #121E28;
  border: 2px solid #2A3744;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
}

.digest-container h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 48px;
  font-weight: 700;
  color: #FFFFFF;
  margin: 0;
  margin-bottom: 15px;
  text-align: center;
}

.digest-subtitle {
  font-family: 'Lato', sans-serif;
  font-size: 24px;
  color: #6B7C8C;
  text-align: center;
  margin: 0;
  margin-bottom: 50px;
}

.digest-input-container {
  display: flex;
  gap: 15px;
  align-items: center;
}

.digest-input {
  background-color: transparent;
  border: 2px solid #2A3744;
  border-radius: 12px;
  padding: 18px 25px;
  color: #6B7C8C;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  width: 450px;
}

.digest-input::placeholder {
  color: #6B7C8C;
}

.digest-button {
  background-color: #CEAAFF;
  color: #10151A;
  padding: 18px 40px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}


.press {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 76%;
  height: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 150px;
  margin-bottom: 30px;
}

.press h2 {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 54px;
  line-height: 80px;
  color: #E5E5E5;
  margin: 0;
}

.see-all {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 40px;
  color: #8395A7;
}

.press-cards {
  display: flex;
  gap: 30px;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
}

.press-card-cyan,
.press-card-purple,
.press-card-yellow {
  width: 50%;
  border-radius: 8%;
  padding: 30px;
  position: relative;
}


.press-card-cyan {
  background: #77E6FF;
}

.press-card-purple {
  background: #E2C1F9;
}

.press-card-yellow {
  background: #DBE268;
}


.press-card-cyan img,
.press-card-purple img,
.press-card-yellow img {
  width: 120px;
  height: auto;
  margin-bottom: 20px;
}

.press-card-cyan h3,
.press-card-purple h3,
.press-card-yellow h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 28px;
  color: #10151A;
  margin-bottom: 12px;
}


.press-card-cyan p,
.press-card-purple p,
.press-card-yellow p {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 12px;
  line-height: 23px;
  color: #10151A;


  margin-bottom: 20px;
}

.press-card-cyan a,
.press-card-purple a,
.press-card-yellow a {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 16px;
  color: #10151A;
  position: absolute;
}

.media-cards {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 28px;
  width: 1139px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 108px;
  justify-content: center;
}

.media-card {
  width: 250px;
  height: 315px;
  background: #121E28;
  border: 2px solid #2A3744;
  border-radius: 20px;
  padding: 30px;
  position: relative;
}

.media-card img {
  width: 50px;
  height: 50px;
  border-radius: 8px;
  margin-bottom: 20px;
}

.media-card h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  color: #FFFFFF;
  margin: 0;
  margin-bottom: 18px;
}

.media-info {
  margin-bottom: 20px;
}

.media-info p {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 17px;
  line-height: 21px;
  color: #E2E2E2;
  opacity: 0.8;
  margin: 0;
  margin-bottom: 5px;
}

.media-card a {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  position: absolute;
  bottom: 30px;
  left: 30px;
}

.stars-3-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
  margin-bottom: 100px;
}

.idea-section {
  width: 1140px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 150px;
  text-align: center;
}

.idea-section h2 {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 54px;
  line-height: 80px;
  color: #E5E5E5;
  margin: 0;
  margin-bottom: 16px;
}

.idea-section p {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 42px;
  line-height: 74px;
  color: #5A6C7E;
  margin: 0;
  margin-bottom: 52px;
}

.contact-buttons {
  display: flex;
  justify-content: center;
  gap: 26px;
  margin-bottom: 370px;
}

.contact-button {
  width: 253px;
  height: 59px;
  border-radius: 16px;
  padding: 16px 20px;
  display: flex;
  align-items: center;
  gap: 16px;
  position: relative;
}

.contact-button-yellow {
  background: #FFC803;

}

.contact-button-purple {
  background: #E2C1F9;

}

.contact-icon {
  width: 52px;
  height: 52px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.contact-icon img {
  width: 44px;
  height: 44px;
}

.contact-text h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  margin: 0;
  text-align: left;
}

.contact-button-yellow .contact-text h3 {
  color: #4D3705;
}

.contact-button-purple .contact-text h3 {
  color: #40354B;
}

.contact-text p {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  opacity: 0.7;
  margin: 0;
  text-align: left;
}

.contact-button-yellow .contact-text p {
  color: #4D3705;
}

.contact-button-purple .contact-text p {
  color: #40354B;
}

.footer {
  width: 102%;
  background: #121E28;
  padding: 40px 0;
  margin-top: 150px;
}

.footer-container {
  width: 1140px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.footer-links {
  display: flex;
  gap: 56px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.footer-links a {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 22px;
  line-height: 27px;
  color: #FFFFFF;
}

.footer-links a.yellow {
  color: #FFC803;
}

.footer-social {
  display: flex;
  gap: 20px;
  margin-left: auto;
}

.footer-social a {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-social img {
  width: 28px;
  height: 28px;
}

/* END STYLE INDEX*/

.heroes-section {
  text-align: center;
  margin-top: 150px;
  margin-bottom: 150px;
}

.heroes-section h2 {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 54px;
  line-height: 80px;
  color: #E5E5E5;
  margin-bottom: 115px;
}

.heroes-cards {
  display: flex;
  gap: 25px;
  width: 1155px;
  margin: 0 auto;
}

.hero-card {
  width: 352px;
  height: 334px;
  background: #FFB4D3;
  border-radius: 20px;
  padding: 28px;
  position: relative;
}

.hero-image {
  width: 160px;
  height: 160px;
  background: #E9E7E1;
  border-radius: 40px;
  margin: 0 auto 30px auto;
  overflow: hidden;
}

.hero-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero-card h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 30px;
  color: #10151A;
  margin: 0 0 0 0;
}

.hero-card p {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 17px;
  line-height: 29px;
  color: #10151A;
  opacity: 0.8;
  margin: 0;
}

.hero-card a {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #10151A;
  position: absolute;
  bottom: 32px;
  right: 28px;
}


/* END STYLE ABOUT */

.goose-form-section {
  width: 915px;
  margin: 150px auto;
  background: #121E28;
  border: 2px solid #2A3744;
  border-radius: 30px;
  padding: 100px;
  text-align: center;
  position: relative;
}



.goose-form-section h2 {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 54px;
  line-height: 80px;
  color: #FFFFFF;
  margin: 0 0 40px 0;
}

.goose-form {
  position: relative;
  z-index: 1;
}

.form-input {
  width: 506px;
  height: 68px;
  background: #121E28;
  border: 2px solid #2A3744;
  border-radius: 16px;
  padding: 0 28px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 20px;
  color: #FFFFFF;
  margin-bottom: 30px;
}

.form-input::placeholder {
  color: #3D4C5B;
}

.form-textarea {
  width: 506px;
  min-height: 310px;
  background: #121E28;
  border: 2px solid #2A3744;
  border-radius: 16px;
  padding: 21px 28px;
  font-family: 'Montserrat', sans-serif;
  resize: none;
  font-weight: 600;
  font-size: 20px;
  color: #FFFFFF;
  margin-bottom: 30px;
}

.form-textarea::placeholder {
  color: #3D4C5B;
}

.form-select {
  width: 565px;
  height: 68px;
  background: #121E28;
  border: 2px solid #2A3744;
  border-radius: 16px;
  padding: 0 28px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 20px;
  color: #3D4C5B;
  margin-bottom: 30px;
  margin-left: 175px;

}

.form-button {
  width: 175px;
  height: 68px;
  background: #CEAAFF;
  border-radius: 16px;
  border: none;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 20px;
  color: #10151A;
  cursor: pointer;
  float: right;
  margin-top: 95px;
}